.shopping-cart {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-item {
  margin: 1rem 0;
  border: 1.5px solid #ccc;
  padding: 10px;
  width: 50%;
}
.shopping-cart .cart-item .top,
.cart-item .bottom,
.cart-item .bottom .increase-count-decrease,
.cart-item .bottom .price-delete {
  display: flex;
  align-items: center;
}
.cart-item .top {
  gap: 1rem;
}
.cart-item .bottom,
.cart-item .bottom .increase-count-decrease,
.cart-item .bottom .price-delete {
  justify-content: space-between;
}
.cart-item .top .image {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-bottom: 2px solid maroon;
  border-radius: 5px;
}
.cart-item .bottom {
  margin: 1rem 0;
}
.cart-item .bottom .increase-count-decrease {
  width: 200px;
}
.cart-item button {
  padding: 5px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms ease;
}
.cart-item button:hover {
  background-color: #fff;
  color: goldenrod;
  border: 1px solid #ccc;
}
.cart-item .bottom .price-delete {
  gap: 2rem;
}
.cart-item .bottom .price-delete .price::before {
  content: "$ ";
  color: maroon;
  font-weight: 700;
}
.cart-item .bottom .price-delete .price {
  font-weight: 200;
}
.cart-item .bottom .price-delete .delete {
  color: maroon;
  font-size: 1.25rem;
  cursor: pointer;
}
